body{
	padding-bottom: 20px;
}
ul{
	padding: 0 0 0 5px;
	margin-bottom: 0;
}
ul li{
	list-style: none;
	font-size: 16px;
}
.no-mg-top{
	margin-top: 0;
}
.no-padding{
	padding: 0;
}
.mg-left-5{
	margin-left: 5px;
}
h2{
	font-size: 28px;
}
h3{
	font-size: 20px;
	margin-top: 5px;
}
p{
	font-size: 16px;
	margin: 0;
}
section{
	margin-bottom: 10px;
}
.experience-container ul {
  padding-left: 20px;
}
.experience-container ul li {
  list-style: disc;
}